body{
    background: linear-gradient(0deg, gray, white) fixed 100% 100%;
    font-family: arial;
}

#wrapper{

}

header{
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px red;
}

.inner-container{
    margin: 5px;
    background-color: white;
    border: 1px solid black;
    width: 350px;
    margin: auto;
    text-align: left;
    padding: 10px;
}

.center-div{
    padding: 5px;
    text-align: center;
}

.tbl tr:nth-child(odd){
    background-color: #CCCCAA;
}

.tbl tr:nth-child(even){
    background-color: #CCCCCC;
}

.tbl td{
    padding-left: 3px;
    padding-right: 3px;
    width: 100px;
}

.tbl td:nth-child(even){
    text-align: center;
}

.input-number{
    border: 1px solid black;
    width: 75px;
}

.input-text{
    border: 1px solid black;
    width: 150px;
}

.input-select{
    border: 1px solid black;
    width: 90px;
}

.search-btn{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, lightgray 50%, red 50%);
    border: 1px solid black;
    border-radius: 2px;
    -webkit-transition: background-position 0.25s;
}

.search-btn:hover{
    color: white;
    background-position: 100%;
}

#results-container{
    text-align: center;
    display: none;
}
